
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--tiny: 9px;
	--small: 12px;
	--medium: 16px;
	--large: 21px;
}

html:has(sheep-cart-toggler[open]) {
	overflow: hidden;
}

html, body {
	font-size: var(--medium);
	font-family: sans-serif;

	background: #31393d;
	color: #fffe;
	text-shadow: 0.1em 0.1em 0.05em #0004;
}

:not(:defined) {
	display: none;
}

sheep-cart {
	padding: 1em;
	color: #222c;
	background: #fffc;
	text-shadow: none;
	box-shadow: 0.1em 0.1em 0.5em #0008;
}

.header {
	background: #50a7cc;
	background: linear-gradient(
		to bottom,
		#99e0ff,
		#1aa9e7
	);
	& a {
		color: #fff700;
		text-shadow: 0.1em 0.1em 0.05em #0004;
	}
}

.catalog {
	background: #497e97;
}

a, ::part(a) {
	color: cyan;
	text-decoration: none;
}
a:hover, ::part(a):hover { text-decoration: underline; }
a:active, ::part(a):active { text-decoration: double underline; }

.slice {
	width: 90em;
	max-width: 96%;
	margin: 0.2em auto;
	box-shadow: 1px 2px 5px #0008;

	&.smaller {
		width: 86em;
		max-width: 92%;
	}
}

.header {
	position: relative;
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 0.5em 0.5em 0 0;

	> .bakery-logo {
		margin-right: 1em;
		height: 12em;
		transform: scale(1.2);
		filter: drop-shadow(1px 3px 10px #000);
	}

	> .bigbar {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5em;

		> h1 {
			& a > * {
				vertical-align: middle;
			}
			& a > small {
				font-size: 0.5em;
				font-weight: normal;
			}
		}

		> sheep-nav {
			margin-left: auto;
			padding: 1em;
		}
	}

	> sheep-cart-toggler {
		position: absolute;
		inset: 0;
		padding: 1em;
		display: flex;
		justify-content: end;
		align-items: start;
		z-index: 1;
		outline: 1px solid red;

		&::part(button) {
			padding: 0.5em;
		}

		&::part(cart) {
			position: absolute;
			top: 4em;
			z-index: 1;
			width: 100%;
			min-height: 20em;

			padding: 1em;

			color: #222c;
			text-shadow: none;
			background: #ccce;
			backdrop-filter: blur(10px);
			box-shadow: 0.1em 0.3em 1em #0008;
		}
	}
}

.catalog {
	border-radius: 0 0 0.5em 0.5em;
	padding: 1em;
}

sheep-catalog {
	&::part(card) {
		color: white;
		background: #fff2;
		padding: 0.5rem;
	}

	&::part(card-plate) {
		background: #fff2;
	}

	&::part(card-title) {
		color: white;
	}
}

