
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--tiny: 9px;
	--small: 12px;
	--medium: 16px;
	--large: 21px;
}

html, body {
	font-size: var(--medium);
	font-family: sans-serif;
	background: #1f0e16;
	color: #fff8;
}

a {
	color: cyan;
	text-decoration: none;
}

a:hover { text-decoration: underline; }
a:active { text-decoration: double underline; }

.sheep {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	padding: 1em;
	width: max-content;
}

.sheep-logo {
	height: 6em;
}

.bakery-logo {
	height: 6em;
}

.slice {
	width: 60em;
	max-width: 100%;
	margin: 0.2em auto;
	box-shadow: 1px 2px 5px #0008;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #482234;
	border-radius: 0.5em 0.5em 0 0;

	> h1 {
		margin-right: 1em;
		> .bakery-logo {
			transform: scale(1.2);
			filter: drop-shadow(1px 3px 10px #000);
		}
	}

	> .bigbar {
		flex: 1 0 auto;
		display: flex;
		flex-direction: row;
		> .search-area {
			flex: 1 1 auto;
			> .search-box {
				position: relative;
				> input {
					display: block;
					font-size: var(--large);
					background: transparent;
					border: 0.1em solid;
					border-radius: 0.5em;
					padding: 0.3em;
					padding-left: 2em;
					color: inherit;
				}
				> svg {
					position: absolute;
					left: 0.5em;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}
	}

	> .bar {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1em;
		padding-left: 2em;

		> * {
			display: block;
			width: 100%;
		}

		> .searchbox {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 0.5em;

			> * {
				flex: 1 1 auto;
				padding: 1em;
				width: 5em;
			}

			> input {
				display: block;
				font-size: var(--large);
				background: transparent;
				border: 0.1em solid;
				border-radius: 0.5em;
				padding: 0.3em;
				padding-left: 2em;
				color: inherit;
			}

			> svg {
				position: absolute;
				left: 0.5em;
				top: 0;
				bottom: 0;
				margin: auto;
			}

			> .cartarea {
				flex: 0 1 auto;
				width: max-content;
			}
		}

		> .tags {
			font-size: var(--small);
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			> li {
				margin: 0.2em;
				border: 0.05em solid;
				border-radius: 1em;
				padding: 0 0.3em;
			}
		}
	}
}

.cartbutton {
	padding: 0.5em;
}

.cartpanel {
	position: absolute;
	top: 100%;
	left: 1em;
	right: 1em;
	min-height: 10em;
	background: #193b41cc;
	backdrop-filter: blur(10px);
	box-shadow: 1px 3px 10px #0008;
}

.catalog {
	background: #482234;
	border-radius: 0 0 0.5em 0.5em;
}

.catalog ol {
	list-style: none;
}

.catalog ol li {
	padding: 1em;
}

